Source: isis
Section: science
Priority: optional
Maintainer: ISIS Group <gr_isis@cbs.mpg.de>
Uploaders: Enrico Reimer <reimer@cbs.mpg.de>
Build-Depends: debhelper (>= 9.0.50~), cmake, libbz2-dev, zlib1g-dev,
 libmuparser-dev, qtbase5-dev, libace-inet-dev,
 libpng-dev, libjsoncpp-dev, libjxr-dev, libopenjp2-7-dev,
 libboost-iostreams-dev, pybind11-dev, libgsl-dev,
 pkg-config, libfftw3-dev, help2man, liblzma-dev, libncurses-dev
Standards-Version: 3.9.2
Homepage: https://github.com/isis-group


Package: libisis-core4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: libisis-ioplugins-common, libisis-ioplugins-dicom, isis-utils
Description: I/O framework for neuroimaging data
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This Package provides the core library needed by all applications that
 are build upon ISIS.


Package: libisis-ioplugins-common
Section: libs
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${shlibs:Depends}, ${misc:Depends}
Description: data format plugins for the ISIS framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This package provides plugins for data in NIfTI, PNG, VISTA and ZISRAW format,
 as well as plugins for gzip/lzma-compression, tar-archives and access to 
 orthanc servers.

Package: libisis-ioplugins-dicom
Section: science
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${shlibs:Depends}, ${misc:Depends}
Description: dicom io plugin for the ISIS framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This package provides a plugin to read data from dicom datasets.
 It reads single files, or whole directories (a DICOMDIR is not needed).

Package: libisis-core-dev
Section: libdevel
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${misc:Depends}, cmake, libboost-filesystem-dev, libboost-dev
Description: I/O framework for neuroimaging data
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This package provides headers and library to develop applications with ISIS.


Package: isis-utils
Section: science
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${shlibs:Depends}, ${misc:Depends}
Description: utilities for the ISIS neuroimaging data I/O framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This package provides a number of utilities to process neuroimaging data. This
 includes a multi-format converter and tools to inspect image meta data.


Package: libisis-qt5-0
Section: libs
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${shlibs:Depends}, ${misc:Depends}
Description: Qt5 bindings for ISIS data I/O framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.


Package: libisis-qt5-dev
Section: libdevel
Architecture: any
Depends: libisis-adapter-qt5-0 (<< ${source:Version}.1~), libisis-core-dev  (<< ${source:Version}.1~), ${misc:Depends}, qtbase5-dev
Description: Qt5 bindings for ISIS data I/O framework (development headers)
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.


Package: python3-isis
Section: python
Architecture: any
Depends: libisis-core4 (<< ${source:Version}.1~), ${shlibs:Depends}, ${misc:Depends}, python3
Recommends: libisis-ioplugins-common, libisis-ioplugins-dicom
Description: Python bindings for ISIS data I/O framework
 This framework aids access of and conversion between various established
 neuro-imaging data formats.
 ISIS  is extensible with plugins to add support for additional data formats.
 .
 This package provides a python module to use isis from within python 3.
